body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

section {
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    margin-left: 5%;
}

.half-width img {
    width: 80%;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: larger;
}

button {
    background-color: orange;
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    background-image: linear-gradient(orange, red);

}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.flexible-class {
    display: flex;
}

.box-shadow {
    box-shadow: 5px 10px 18px #888888;
    margin-left: 5%;
    margin-right: 5%;
    width: 40%;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 2px;

}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-position: 0px;

}

#web-dev {
    border-left: 7px solid;
    border-color: red;
}

#baby-web {
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 2;
    border-left: 8px solid;
}

footer {
    text-align: center;
}